html {
  height: 100%;
  background-image: url(https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size:cover;
  }
  
  #banner {
  padding-top:22%;
  font-size:35px;
  display:flex;
  justify-content:center;
  color:#00FFD4
  }

#heading {
height: 100%;
font-family:'work sans',sans-serif;
display: flex;
justify-content: space-around;
color:#7d0234;
}

.navbar {
  display:flex;
  justify-content:space-around;
  background-color:White;
  position:fixed;
  top:0;
  left:0;
  width:100%;
} 

.navabar a {
    float: left;
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
    .navbar a:hover {
      color: white;
      background: #9370DB;
    }
#about-content {
display:flex;
justify-content: center;
margin-top:22%;
}

img{
border-radius:50%;
border:solid 5px #9370DB;
}

.my-description {
background:white;
margin:3%;
padding:4%;
font-family:'PT Sans', sans-serif;
}

.project-continer{
  margin-top:20%;
  display:flex;
  width:100%;
  height:100%;
  justify-content:space-between;
  
  span{
    background#9370DB;
    width:30%;
    height:60%;
    margin:2%;
    padding:2%;
    font-family:'monsterrat',sans-serif
    color:white;
    algin-items:center;
  }
